@model List<AgentDTO>
@{
    ViewData["Username"] = @ViewBag.UserName;
    ViewBag.ActualPageView = ViewBag.ActualPage + 1;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agentes do Dizimo</title>
</head>
<body>
    @using (Html.BeginForm("SearchAgents", "Agent", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formSearch" }))
    {
        <div class="container my-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="d-flex align-items-center border-bottom pb-2 mb-3 fw-bold text-primary">
                        <i class="fa fa-search me-2" aria-hidden="true"></i>
                        Buscar Agentes do Dizimo
                    </h2>            
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="Status" class="form-label fw-bold">Status:</label>
                            <select name="status" class="form-select">
                                @if(ViewBag.Status == null)
                                {
                                    <option value="" selected>Todos</option>
                                    <option value="true">Ativo</option>
                                    <option value="false">Inativo</option>
                                }
                                else if(Convert.ToBoolean(ViewBag.Status) == true)
                                {
                                    <option value="">Todos</option>
                                    <option value="true" selected>Ativo</option>
                                    <option value="false">Inativo</option>
                                }
                                else
                                {
                                    <option value="">Todos</option>
                                    <option value="true">Ativo</option>
                                    <option value="false" selected>Inativo</option>
                                }

                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="Name" class="form-label fw-bold">Nome:</label>
                            <input name="name" class="form-control" value="@ViewBag.Name" type="text" />
                        </div>
                    </div>
                    <div class="row g-3 mt-3">
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-outline-primary w-100">
                                <i class="fa fa-search me-2"></i> Pesquisar
                            </button>
                        </div>
                    </div>
                    <div class="row g-3 mt-3">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal_agent_add">
                            <i class="fa-solid fa-user-plus me-2"></i> Adicionar Agente do Dizimo
                        </button>
                    </div>
                </div>
            </div>
            <br />
            @if (Model != null && Model.Any())
            {
                <div class="card mt-4 shadow-sm">
                    <div class="row align-items-center g-2">
                        <div class="col-md-auto">
                            <label class="form-label mb-0">Registros por Páginas:</label>
                        </div>
                        <div class="col-md-auto">
                            @Html.DropDownList("AmountPages", (IEnumerable<SelectListItem>)ViewBag.AmountPages, new { @class = "form-select w-auto", id = "AmountPages" })
                        </div>
                        <div class="col-md-auto">
                            <input type="hidden" id="inputPages" name="amount" />
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="border-bottom pb-2 mb-3 fw-bold text-info">Lista de Agentes</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover">
                                <thead class="table-light">
                                    <tr>
                                        <th>Nome</th>
                                        <th>Código</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var agent in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(item => agent.Name)</td>
                                            <td>@Html.DisplayFor(item => agent.AgentCode)</td>
                                            <td class="text-center">
                                                <span class="badge @(agent.Active == true ? "bg-success" : "bg-danger")">
                                                    @(agent.Active == true ? "Ativo" : "Inativo")
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                <a href="javascript:void(0);" onclick="openModal(@agent.AgentId)" title="Editar" class="btn btn-sm btn-outline-primary me-1"><i class="fa-solid fa-user-pen"></i></a>
                                                <a href="@Url.Action("DeleteAgent","Agent", new { agentId = agent.AgentId })" title="Excluir" class="btn btn-sm btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            <br />

                            <div class="container">
                                <div class="d-flex justify-content-between flex-wrap align-items-center mb-2">
                                    <h5 class="m-0">Mostrando registro de @TempData["PrimeiroRegistro"] até @TempData["UltimoRegistro"], do total de @TempData["TotalCredenciais"]</h5>
                                    <div class="d-flex flex-wrap gap-2 align-items-center">
                                        @if (Convert.ToInt32(ViewBag.TotalPages) > 15)
                                        {
                                            <button type="submit" name="buttonPage" value="1_@ViewBag.OrdenacaoAtual" class="btn btn-sm btn-primary fw-semibold">Primeira</button>
                                            int basePage = Convert.ToInt32(ViewBag.ActualPageView) - 6 < 0 ? 0 : Convert.ToInt32(ViewBag.ActualPageView) - 6;
                                            @for (int i = basePage; i <= basePage + 6; i++)
                                            {
                                                @if (i < ViewBag.TotalPages - 5)
                                                {
                                                    @if (@ViewBag.ActualPageView - 1 == i)
                                                    {
                                                        <button type="submit" name="buttonPage" value="@(i + 1)_@ViewBag.OrdenacaoAtual" class="btn btn-sm btn-outline-secondary fw-semibold">@(i + 1)</button>
                                                    }
                                                    else
                                                    {
                                                        <button type="submit" name="buttonPage" value="@(i + 1)_@ViewBag.OrdenacaoAtual" class="btn btn-sm btn-primary fw-semibold">@(@i + 1)</button>
                                                    }

                                                }
                                            }
                                            <span class="border border-secondary rounded d-flex align-items-center justify-content-center text-secondary fw-bold" style="width: 30px; height: 30px; font-size: 0.8em;">
                                                ...
                                            </span>
                                            @for (int i = Convert.ToInt32(ViewBag.TotalPages) - 5; i < Convert.ToInt32(ViewBag.TotalPages); i++)
                                            {
                                                @if (@ViewBag.ActualPageView - 1 == i)
                                                {
                                                    <button type="submit" name="buttonPage" value="@(i + 1)_@ViewBag.OrdenacaoAtual" class="btn btn-sm btn-outline-secondary fw-semibold">@(i + 1)</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" name="buttonPage" value="@(i + 1)_@ViewBag.OrdenacaoAtual" class="btn btn-sm btn-primary fw-semibold">@(@i + 1)</button>
                                                }
                                            }
                                            <button type="submit" name="buttonPage" value="@ViewBag.TotalPages _@ViewBag.OrdenacaoAtual" class="btn btn-sm btn-primary fw-semibold">Última</button>
                                        }
                                        else
                                        {
                                            @for (int i = 0; i < Convert.ToInt32(ViewBag.TotalPages); i++)
                                            {

                                                @if (@ViewBag.ActualPageView == i + 1)
                                                {
                                                    <button type="submit" name="buttonPage" value="@(i + 1)_@ViewBag.OrdenacaoAtual" class="btn btn-sm btn-outline-secondary fw-semibold">@(i + 1)</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" name="buttonPage" value="@(i + 1)_@ViewBag.OrdenacaoAtual" class="btn btn-sm btn-primary fw-semibold">@(@i + 1)</button>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="d-flex flex-column align-items-center gap-2">
                                    <div>
                                        <br />
                                        <h3 class="h6 m-0">Página @ViewBag.ActualPageView de @ViewBag.TotalPages</h3>
                                        <br />
                                    </div>

                                    <div class="d-flex gap-2">
                                        @if (ViewBag.ActualPageView == 1)
                                        {
                                            <button disabled class="btn btn-primary fw-semibold btn-sm" id="BtnPrevious" name="page" value="@ViewBag.ActualPage _back_@ViewBag.OrdenacaoAtual" type="submit"><u>Anterior</u></button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-primary fw-semibold btn-sm" id="BtnPrevious" name="page" value="@ViewBag.ActualPage _back_@ViewBag.OrdenacaoAtual" type="submit"><u>Anterior</u></button>
                                        }

                                        @if (ViewBag.ActualPageView == ViewBag.TotalPages)
                                        {
                                            <button disabled class="btn btn-primary fw-semibold btn-sm" id="BtnNext" name="page" value="@ViewBag.ActualPage _next_@ViewBag.OrdenacaoAtual" type="submit"><u>Próxima</u></button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-primary fw-semibold btn-sm" id="BtnNext" name="page" value="@ViewBag.ActualPage _next_@ViewBag.OrdenacaoAtual" type="submit"><u>Próxima</u></button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <h4 class="text-center mt-4 text-muted">Sem resultados para serem exibidos</h4>
            }
        
        </div>
   }

   @* Modal Add Agent *@
   <div class="modal fade" id="modal_agent_add" tabindex="-1" aria-labelledby="modal_agent_add_label" aria-hidden="true">
       <div class="modal-dialog modal-lg modal-dialog-centered">
           <div class="modal-content">
               <div class="modal-header bg-success text-white">
                   <h5 class="modal-title" id="modal_agent_add_label"><i class="fa-solid fa-user-plus me-2"></i> Cadastrar Agente</h5>
                   <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               @using (Html.BeginForm("SaveAgent", "Agent", FormMethod.Post, new { enctype = "multipart/form-data" }))
               {
                   <div class="modal-body">
                       <div class="row g-3">
                           <div class="col-md-6">
                               <label for="name" class="form-label fw-bold">Nome:</label>
                               <input class="form-control" id="name" name="name" required />
                           </div>
                           <div class="col-md-6">
                               <label for="phonenumber" class="form-label fw-bold">Telefone:</label>
                               <input type="number" class="form-control" id="phonenumber" name="phonenumber" />
                           </div>
                       </div>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                       <button type="submit" class="btn btn-success" id="saveButton"><i class="fa-solid fa-check me-2"></i> Salvar Agente</button>
                   </div>
               }
           </div>
       </div>
   </div>
   @* End Modal Add Agent *@

   @* Modal Edit Agent *@
   <div class="modal fade" id="modal_agent_edit" tabindex="-1" aria-labelledby="modal_agent_edit_label" aria-hidden="true">
       <div class="modal-dialog modal-lg modal-dialog-centered">
           <div class="modal-content">
               <div class="modal-header bg-primary text-white">
                   <h5 class="modal-title" id="modal_agent_edit_label"><i class="fa-solid fa-user-pen me-2"></i> Editar Agente</h5>
                   <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               @using (Html.BeginForm("EditAgent", "Agent", FormMethod.Post, new { enctype = "multipart/form-data" }))
               {
                   <div class="modal-body">
                       <div class="row g-3">
                           <div class="col-md-6">
                               <label for="nameEdit" class="form-label fw-bold">Nome:</label>
                               <input class="form-control" id="nameEdit" name="name" required />
                           </div>
                           <div class="col-md-6">
                               <label for="codeEdit" class="form-label fw-bold">Código:</label>
                               <input disabled class="form-control" id="codeEdit" name="code" />
                           </div>
                       </div>
                       <div class="row g-3 mt-3">
                           <div class="col-md-6">
                               <label for="statusEdit" class="form-label fw-bold">Status:</label>
                               <select name="active" id="statusEdit" class="form-select">
                                   <option value="">Selecione</option>
                                   <option value="true">Ativo</option>
                                   <option value="false">Inativo</option>
                               </select>
                           </div>
                           <div class="col-md-6">
                               <label for="phoneNumberEdit" class="form-label fw-bold">Telefone:</label>
                               <input type="number" class="form-control" id="phoneNumberEdit" name="phoneNumberEdit" />
                           </div>
                       </div>
                       <input hidden type="text" name="agentId" id="agentIdEdit" />
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                       <button type="submit" class="btn btn-primary" id="saveButtonEdit"><i class="fa-solid fa-save me-2"></i> Salvar Alterações</button>
                   </div>
               }
           </div>
       </div>
   </div>
   @* End Modal Edit User *@
</body>
</html>

<script>
    function openModal(id) {
        $.ajax({
            url: '/Agent/GetDetails', // Rota para o método do controlador que retornará os dados
            type: 'GET',
            data: { id: id },
            success: function (data) {
                $('#agentIdEdit').val(data.agentId);
                $('#nameEdit').val(data.name);
                $('#codeEdit').val(data.agentCode);
                $('#phoneNumberEdit').val(data.phoneNumber);
                $('#statusEdit').val(data.active.toString()); // Garante que o valor seja string ("true" ou "false")
                $('#modal_agent_edit').modal('show');
            },
            error: function () {
                alert("Erro ao buscar os dados.");
            }
        });
    }
</script>

<script>
    // Adicionando um evento onchange ao dropdownlist
    document.getElementById("AmountPages").onchange = function () {
        // Obtém o valor selecionado do dropdownlist
        var valueSelected = this.value;

        var input = document.getElementById("inputPages");
        var form = document.getElementById("formSearch");

        input.value = valueSelected;

        form.submit();

    };
</script>