@using DizimoParoquial.Utils
@model List<TithePayer>
@{
    ViewData["Username"] = @ViewBag.UserName;
    ViewBag.ActualPageView = ViewBag.ActualPage + 1;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerenciar Dizimistas</title>
    <style>
        .btn-primary {
        background-color: #007bff; /* Azul principal */
        border-color: #007bff;
        }

        .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
        }

        .bg-primary {
        background-color: #007bff !important;
        }

        .text-primary {
        color: #007bff !important;
        }

        .btn-outline-primary {
        color: #007bff;
        border-color: #007bff;
        }

        .btn-outline-primary:hover {
        background-color: #007bff;
        border-color: #007bff;
        color: white;
        }

        .btn-secondary {
        background-color: #dc3545; /* Vermelho secundário */
        border-color: #dc3545;
        color: white;
        }

        .btn-secondary:hover {
        background-color: #c82333;
        border-color: #c82333;
        color: white;
        }

        .bg-secondary {
        background-color: #dc3545 !important;
        }

        .text-secondary {
        color: #dc3545 !important;
        }

        .modal-header {
        background-color: #007bff;
        color: white;
        }

        .modal-title {
        color: white;
        }

        .form-label b {
        color: #007bff; /* Azul principal para labels em negrito */
        }

        .modal-footer .btn-secondary {
        background-color: #6c757d; /* Cinza para o botão de fechar */
        border-color: #6c757d;
        }

        .modal-footer .btn-secondary:hover {
        background-color: #5a6268;
        border-color: #5a6268;
        }

        .table thead th {
        background-color: #007bff;
        color: white;
        border-color: #007bff;
        }

        .table tbody tr:nth-child(odd) {
        background-color: #f8f9fa;
        }

        .table tbody td {
        border-color: #dee2e6;
        }

        .table a i {
        color: #007bff; /* Azul para os ícones de ação */
        }

        .table a:hover i {
        color: #0056b3;
        }

        .btn-add-dizimista {
        background-color: transparent;
        border: 2px solid #007bff;
        color: #007bff;
        padding: 8px 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        }

        .btn-add-dizimista:hover {
        background-color: #007bff;
        color: white;
        }
    </style>
    <script>
        function openFile() {

        const pdfDataUrl = document.getElementById("contentFile").textContent;

        let novaJanela = window.open("TermoAssinado", "_blank");

        novaJanela.document.write(`
        <html>
        <head>
        <title>Termo Assinado</title>
        <style>
        body { margin: 0; overflow: hidden; }
        </style>
        </head>
        <iframe style="width: 100%; height: 100%; display: block;" id="imagePreview" src=${pdfDataUrl}></iframe>
        </html>
        `);

        novaJanela.document.close();

        }
    </script>
</head>
<body>
    @using (Html.BeginForm("SearchTithePayer", "TithePayer", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formSearch" }))
    {
        <div class="container my-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="d-flex align-items-center border-bottom pb-2 mb-3 fw-bold text-primary">
                        <i class="fa fa-search me-2" aria-hidden="true"></i>
                        Buscar Dizimistas
                    </h2>
                    <div class="row g-3">
                        <div class="col-md-6 col-sm-12">
                            <label for="document" class="form-label fw-bold text-primary"><b>CPF:</b></label>
                            <input name="document" value="@ViewBag.Document" class="form-control" type="text" />
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <label for="name" class="form-label fw-bold text-primary"><b>Nome:</b></label>
                            <input name="name" value="@ViewBag.Name" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="row g-3 mt-3">
                        <div class="col-md-3 col-sm-12">
                            <button type="submit" class="btn btn-outline-primary w-100">
                                <i class="fa fa-search me-2"></i> Pesquisar
                            </button>
                        </div>
                    </div>
                    <div class="row g-3 mt-3">
                        <div class="col-12">
                            <button type="button" class="btn btn-outline-success w-100" data-bs-toggle="modal" data-bs-target="#modal_tithepayer_add">
                                <i class="fa-solid fa-user-plus me-2"></i> Adicionar Dizimista
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        @if (Model != null && Model.Any())
        {
            <div class="card mt-4 shadow-sm">
                <div class="row align-items-center g-2">
                    <div class="col-md-auto">
                        <label class="form-label mb-0">Registros por Páginas:</label>
                    </div>
                    <div class="col-md-auto">
                        @Html.DropDownList("AmountPages", (IEnumerable<SelectListItem>)ViewBag.AmountPages, new { @class = "form-select w-auto", id = "AmountPages" })
                    </div>
                    <div class="col-md-auto">
                        <input type="hidden" id="inputPages" name="amount" />
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="border-bottom pb-2 mb-3 fw-bold text-primary">Resultados da Busca</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover mb-0">
                            <thead class="table-primary">
                                <tr>
                                    <th>Código Dizimista</th>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>Data Nascimento</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tithePayer in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(item => tithePayer.TithePayerId)</td>
                                        <td>@Html.DisplayFor(item => tithePayer.Name)</td>
                                        <td>@Html.DisplayFor(item => tithePayer.Document)</td>
                                        <td>@(tithePayer.DateBirth.ToString("dd/MM/yyyy"))</td>
                                        <td class="text-center">
                                            <a data-bs-toggle="tooltip" class="bs-tooltip" data-placement="top" href="javascript:void(0);" onclick="openModal(@tithePayer.TithePayerId)" title="Editar"><i class="fa-solid fa-user-pen text-primary"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <br />

                        <div class="container">
                            <div class="d-flex justify-content-between flex-wrap align-items-center mb-2">
                                <h5 class="m-0">Mostrando registro de @TempData["PrimeiroRegistro"] até @TempData["UltimoRegistro"], do total de @TempData["TotalCredenciais"]</h5>
                                <div class="d-flex flex-wrap gap-2 align-items-center">
                                    @if (Convert.ToInt32(ViewBag.TotalPages) > 15)
                                    {
                                        <button type="submit" name="buttonPage" value="1_@ViewBag.OrdenacaoAtual" class="btn btn-sm btn-primary fw-semibold">Primeira</button>
                                        int basePage = Convert.ToInt32(ViewBag.ActualPageView) - 6 < 0 ? 0 : Convert.ToInt32(ViewBag.ActualPageView) - 6;
                                        @for (int i = basePage; i <= basePage + 6; i++)
                                        {
                                            @if (i < ViewBag.TotalPages - 5)
                                            {
                                                @if (@ViewBag.ActualPageView - 1 == i)
                                                {
                                                    <button type="submit" name="buttonPage" value="@(i + 1)_@ViewBag.OrdenacaoAtual" class="btn btn-sm btn-outline-secondary fw-semibold">@(i + 1)</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" name="buttonPage" value="@(i + 1)_@ViewBag.OrdenacaoAtual" class="btn btn-sm btn-primary fw-semibold">@(@i + 1)</button>
                                                }

                                            }
                                        }
                                        <span class="border border-secondary rounded d-flex align-items-center justify-content-center text-secondary fw-bold" style="width: 30px; height: 30px; font-size: 0.8em;">
                                            ...
                                        </span>
                                        @for (int i = Convert.ToInt32(ViewBag.TotalPages) - 5; i < Convert.ToInt32(ViewBag.TotalPages); i++)
                                        {
                                            @if (@ViewBag.ActualPageView - 1 == i)
                                            {
                                                <button type="submit" name="buttonPage" value="@(i + 1)_@ViewBag.OrdenacaoAtual" class="btn btn-sm btn-outline-secondary fw-semibold">@(i + 1)</button>
                                            }
                                            else
                                            {
                                                <button type="submit" name="buttonPage" value="@(i + 1)_@ViewBag.OrdenacaoAtual" class="btn btn-sm btn-primary fw-semibold">@(@i + 1)</button>
                                            }
                                        }
                                        <button type="submit" name="buttonPage" value="@ViewBag.TotalPages _@ViewBag.OrdenacaoAtual" class="btn btn-sm btn-primary fw-semibold">Última</button>
                                    }
                                    else
                                    {
                                        @for (int i = 0; i < Convert.ToInt32(ViewBag.TotalPages); i++)
                                        {

                                            @if (@ViewBag.ActualPageView == i + 1)
                                            {
                                                <button type="submit" name="buttonPage" value="@(i + 1)_@ViewBag.OrdenacaoAtual" class="btn btn-sm btn-outline-secondary fw-semibold">@(i + 1)</button>
                                            }
                                            else
                                            {
                                                <button type="submit" name="buttonPage" value="@(i + 1)_@ViewBag.OrdenacaoAtual" class="btn btn-sm btn-primary fw-semibold">@(@i + 1)</button>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                            <div class="d-flex flex-column align-items-center gap-2">
                                <div>
                                    <br />
                                    <h3 class="h6 m-0">Página @ViewBag.ActualPageView de @ViewBag.TotalPages</h3>
                                    <br />
                                </div>

                                <div class="d-flex gap-2">
                                    @if (ViewBag.ActualPageView == 1)
                                    {
                                        <button disabled class="btn btn-primary fw-semibold btn-sm" id="BtnPrevious" name="page" value="@ViewBag.ActualPage _back_@ViewBag.OrdenacaoAtual" type="submit"><u>Anterior</u></button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary fw-semibold btn-sm" id="BtnPrevious" name="page" value="@ViewBag.ActualPage _back_@ViewBag.OrdenacaoAtual" type="submit"><u>Anterior</u></button>
                                    }

                                    @if (ViewBag.ActualPageView == ViewBag.TotalPages)
                                    {
                                        <button disabled class="btn btn-primary fw-semibold btn-sm" id="BtnNext" name="page" value="@ViewBag.ActualPage _next_@ViewBag.OrdenacaoAtual" type="submit"><u>Próxima</u></button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-primary fw-semibold btn-sm" id="BtnNext" name="page" value="@ViewBag.ActualPage _next_@ViewBag.OrdenacaoAtual" type="submit"><u>Próxima</u></button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <h4 class="text-center text-muted mt-4">Sem resultados para serem exibidos</h4>
        }
    }

    @* Modal Add TithePayer *@
    <div class="modal fade" id="modal_tithepayer_add" tabindex="-1" aria-labelledby="modal_tithepayer_add_label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="modal_tithepayer_add_label"><i class="fa-solid fa-user-plus me-2"></i> Cadastrar Dizimista</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("SaveTithePayer", "TithePayer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-md-6 col-sm-12">
                                <label for="name" class="form-label fw-bold text-primary"><b>Nome: <b class="text-danger">*</b></b></label>
                                <input class="form-control" id="name" name="name" required />
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="document" class="form-label fw-bold text-primary"><b>CPF:</b></label>
                                <input class="form-control" id="document" name="document" />
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="datebirth" class="form-label fw-bold text-primary"><b>Data de Nascimento: <b class="text-danger">*</b></b></label>
                                <input type="date" class="form-control" id="datebirth" name="datebirth" required />
                            </div>
                        </div>
                        <div class="row g-3 mt-3">
                            <div class="col-md-6 col-sm-12">
                                <label for="email" class="form-label fw-bold text-primary"><b>E-mail:</b></label>
                                <input type="email" class="form-control" id="email" name="email" />
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label for="phonenumber" class="form-label fw-bold text-primary"><b>Telefone:</b></label>
                                <input type="tel" class="form-control" id="phonenumber" name="phonenumber" />
                            </div>
                        </div>
                        <div class="row g-3 mt-3">
                            <div class="col-md-10 col-sm-12">
                                <label for="address" class="form-label fw-bold text-primary"><b>Endereço:</b></label>
                                <input class="form-control" id="address" name="address" />
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label for="number" class="form-label fw-bold text-primary"><b>Número:</b></label>
                                <input type="text" class="form-control" id="number" name="number" />
                            </div>
                        </div>
                        <div class="row g-3 mt-3">
                            <div class="col-md-3 col-sm-12">
                                <label for="zipcode" class="form-label fw-bold text-primary"><b>CEP:</b></label>
                                <input maxlength="8" class="form-control" id="zipcode" name="zipcode" />
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="neighborhood" class="form-label fw-bold text-primary"><b>Bairro:</b></label>
                                <input type="text" class="form-control" id="neighborhood" name="neighborhood" />
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label for="complement" class="form-label fw-bold text-primary"><b>Complemento:</b></label>
                                <input type="text" class="form-control" id="complement" name="complement" />
                            </div>
                        </div>
                        <div class="row g-3 mt-3">
                            <div class="col-md-12">
                                <label for="termfile" class="form-label fw-bold text-primary"><b>Termo de Autorização:</b></label>
                                <input accept=".jpeg, .png" type="file" class="form-control" id="termfile" name="termfile" />
                            </div>
                        </div>
                        <div id="passwordMessage"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark me-2"></i> Fechar</button>
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-check me-2"></i> Salvar Dizimista</button>
                    </div>
                }
            </div>
        </div>
    </div>
    @* End Modal Add TithePayer *@

    @* Modal Edit TithePayer *@
    <div class="modal fade" id="modal_tithepayer_edit" tabindex="-1" aria-labelledby="modal_tithepayer_edit_label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="modal_tithepayer_edit_label"><i class="fa-solid fa-user-pen me-2"></i> Editar Dizimista</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("EditTithePayer", "TithePayer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-md-6 col-sm-12">
                                <label for="nameEdit" class="form-label fw-bold text-primary"><b>Nome:</b></label>
                                <input class="form-control" id="nameEdit" name="name" />
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="documentEdit" class="form-label fw-bold text-primary"><b>CPF:</b></label>
                                <input class="form-control" id="documentEdit" name="document" />
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="datebirthEdit" class="form-label fw-bold text-primary"><b>Data de Nascimento:</b></label>
                                <input type="date" class="form-control" id="datebirthEdit" name="datebirth" />
                            </div>
                        </div>
                        <div class="row g-3 mt-3">
                            <div class="col-md-6 col-sm-12">
                                <label for="emailEdit" class="form-label fw-bold text-primary"><b>E-mail:</b></label>
                                <input type="email" class="form-control" id="emailEdit" name="email" />
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label for="phonenumberEdit" class="form-label fw-bold text-primary"><b>Telefone:</b></label>
                                <input type="tel" class="form-control" id="phonenumberEdit" name="phonenumber" />
                            </div>
                        </div>
                        <div class="row g-3 mt-3">
                            <div class="col-md-10 col-sm-12">
                                <label for="addressEdit" class="form-label fw-bold text-primary"><b>Endereço:</b></label>
                                <input class="form-control" id="addressEdit" name="address" />
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <label for="numberEdit" class="form-label fw-bold text-primary"><b>Número:</b></label>
                                <input type="text" class="form-control" id="numberEdit" name="number" />
                            </div>
                        </div>
                        <div class="row g-3 mt-3">
                            <div class="col-md-3 col-sm-12">
                                <label for="zipcodeEdit" class="form-label fw-bold text-primary"><b>CEP:</b></label>
                                <input class="form-control" id="zipcodeEdit" name="zipcode" />
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label for="neighborhoodEdit" class="form-label fw-bold text-primary"><b>Bairro:</b></label>
                                <input type="text" class="form-control" id="neighborhoodEdit" name="neighborhood" />
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label for="complementEdit" class="form-label fw-bold text-primary"><b>Complemento:</b></label>
                                <input type="text" class="form-control" id="complementEdit" name="complement" />
                            </div>
                        </div>
                        <div class="row g-3 mt-3">
                            <div class="col-md-12">
                                <label for="termfileEdit" class="form-label fw-bold text-primary"><b>Termo de Autorização:</b></label>
                                <div id="fileMessageEdit"></div>
                                <div id="contentFile" style="display: none;"></div>
                                <a id="viewTermFile" data-bs-toggle="tooltip" class="bs-tooltip mb-3" data-placement="top" href="javascript:void(0);" onclick="openFile()" style="cursor: pointer;" title="Visualizar Arquivo"><i class="fa fa-search text-primary"></i> Visualizar Arquivo</a>
                                <input accept=".jpeg, .png, .pdf" type="file" class="form-control" id="termfileEdit" name="termfile" />
                            </div>
                        </div>
                    </div>
                    <input hidden type="text" name="tithePayerId" id="tithePayerIdEdit" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark me-2"></i> Fechar</button>
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-save me-2"></i> Salvar Alterações</button>
                    </div>
                }
            </div>
        </div>
    </div>
    @* End Modal Edit TithePayer *@

</body>
</html>

<script>
    function openModal(id) {
        $.ajax({
            url: '/TithePayer/GetDetails', // Rota para o método do controlador que retornará os dados
            type: 'GET',
            data: { id: id },
            success: function (data) {
                var messageDiv = document.getElementById("fileMessageEdit");
                $('#tithePayerIdEdit').val(data.tithePayerId);
                $('#datebirthEdit').val(data.dateBirth ? new Date(data.dateBirth).toISOString().split('T')[0] : '');
                $('#nameEdit').val(data.name);
                $('#documentEdit').val(data.document);
                $('#emailEdit').val(data.email);
                $('#phonenumberEdit').val(data.phoneNumber);
                $('#addressEdit').val(data.address);
                $('#numberEdit').val(data.number);
                $('#zipcodeEdit').val(data.zipCode);
                $('#neighborhoodEdit').val(data.neighborhood);
                $('#complementEdit').val(data.complement);
                if(data.termFile != null && data.termFile.length > 0) {
                    messageDiv.textContent = "Arquivo já importado!";
                    messageDiv.style.color = "green";
                    document.getElementById("viewTermFile").hidden = false;

                    var contentDiv = document.getElementById("contentFile");

                    contentDiv.textContent = data.termFile64Base;
                    contentDiv.hidden = true;

                    $('#tithePayerTermFileEdit').val(data.termFile);
                    $("#imagePreview").attr("src", data.termFile64Base);
                } else {
                    messageDiv.textContent = "";
                    document.getElementById("viewTermFile").hidden = true;
                }
                $('#modal_tithepayer_edit').modal('show');
            },
            error: function () {
                alert("Erro ao buscar os dados.");
            }
        });
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const zipcodeInput = document.getElementById("zipcode");
        const zipcodeEditInput = document.getElementById("zipcodeEdit");

        function buscarEndereco(cep, addressInputId, neighborhoodInputId, complementInputId) {
            cep = cep.replace(/\D/g, "");
            if (cep.length === 8) {
                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                    .then(response => response.json())
                    .then(data => {
                        if (!data.erro) {
                            document.getElementById(addressInputId).value = data.logradouro || "";
                            document.getElementById(neighborhoodInputId).value = data.bairro || "";
                            document.getElementById(complementInputId).value = data.complemento || "";
                        } else {
                            alert("CEP não encontrado. Verifique e tente novamente.");
                        }
                    })
                    .catch(error => console.error("Erro ao buscar o CEP:", error));
            }
        }

        zipcodeInput.addEventListener("input", function () {
            buscarEndereco(this.value, "address", "neighborhood", "complement");
        });

        zipcodeEditInput.addEventListener("input", function () {
            buscarEndereco(this.value, "addressEdit", "neighborhoodEdit", "complementEdit");
        });
    });
</script>

<script>
    // Adicionando um evento onchange ao dropdownlist
    document.getElementById("AmountPages").onchange = function () {
        // Obtém o valor selecionado do dropdownlist
        var valueSelected = this.value;

        var input = document.getElementById("inputPages");
        var form = document.getElementById("formSearch");

        input.value = valueSelected;

        form.submit();

    };
</script>