@model List<UserDTO>
@{
    
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="container my-4">
        <div class="card">
            <div class="card-body">
                <h2 class="d-flex align-items-center border-bottom pb-2 mb-3" style="font-family: system-ui; font-weight: bold;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    Buscar Usuários
                </h2>
                @using (Html.BeginForm("SearchUser", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label for="Status" class="form-label"><b>Status:</b></label>
                            <select name="status" class="form-control">
                                <option></option>
                                <option value="true">Ativo</option>
                                <option value="false">Inativo</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="Name" class="form-label"><b>Nome:</b></label>
                            <input name="name" class="form-control" type="text"/>
                        </div>
                    </div>
                    <div class="row g-3 mt-3">
                        <div class="col-md-3">
                            <button class="btn btn-primary w-100">
                                Pesquisar
                            </button>
                        </div>
                    </div>
                }
                <div class="row g-3 mt-3">
                    <button style="border: 3px;background-color:white;" data-bs-toggle="modal" data-bs-target="#modal_user_add">
                        <i class="fa-solid fa-user-plus"></i> Adicionar Usuário
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br />
    @if (Model != null && Model.Any())
    {
        <div class="card mt-4">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Username</th>
                        <th>Status</th>
                        <th>Data Criação</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(item => user.Name) </td>
                            <td>@Html.DisplayFor(item => user.Username) </td>
                            <td>
                                <div class="badge @(user.Active == true ? "bg-success" : "bg-danger")">
                                    @(user.Active == true ? "Ativo" : "Inativo")
                                </div>
                            </td>
                            <td>@(user.CreatedAt.ToString("dd/MM/yyyy HH:mm:ss"))</td>
                            <td>
                                <a data-toggle="tooltip" class="bs-tooltip" data-placement="top" href="javascript:void(0);" onclick="openModal(@user.UserId)" title="Editar"><i class="fa-solid fa-user-pen" style="color: #000000;"></i></a>
                                <a data-toggle="tooltip" class="bs-tooltip" data-placement="top" title="Excluir" href="@Url.Action("DeleteUser","User", new { userId = user.UserId })"><i class="fa-solid fa-trash" style="color: #000000;"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h4 class="text-center">Sem resultados para serem exibidos</h4>
    }

    @* Modal Add User *@

    <div class="modal fade" id="modal_user_add">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa-solid fa-user-plus"></i> Cadastrar Usuário</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("SaveUser", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="name" class="form-label"><b>Nome:</b></label>
                                <input class="form-control" id="name" name="name" />
                            </div>
                            <div class="col-md-6">
                                <label for="username" class="form-label"><b>Username:</b></label>
                                <input class="form-control" id="username" name="username" />
                            </div>
                        </div>
                        <div class="row g-3 mt-3">
                            <div class="col-md-6">
                                <label for="password" class="form-label"><b>Senha:</b></label>
                                <input class="form-control" id="password" name="password" type="password" />
                            </div>
                            <div class="col-md-6">
                                <label for="passwordConfirm" class="form-label"><b>Confirmação de Senha:</b></label>
                                <input class="form-control" id="passwordConfirm" name="passwordConfirm" type="password" oninput="checkPasswords()" />
                            </div>
                        </div>
                        <!-- Mensagem de erro -->
                        <div id="passwordMessage"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary" id="saveButton">Salvar Usuário</button>
                    </div>
                }
            </div>
        </div>
    </div>

    @* End Modal Add User *@

    @* Modal Edit User *@

    <div class="modal fade" id="modal_user_edit">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa-solid fa-user-pen"></i> Editar Usuário</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("EditUser", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label for="nameEdit" class="form-label"><b>Nome:</b></label>
                                    <input class="form-control" id="nameEdit" name="name" />
                                </div>
                                <div class="col-md-6">
                                    <label for="usernameEdit" class="form-label"><b>Username:</b></label>
                                    <input class="form-control" id="usernameEdit" name="username" />
                                </div>
                            </div>
                            <div class="row g-3 mt-3">
                                <div class="col-md-6">
                                    <label for="passwordEdit" class="form-label"><b>Senha:</b></label>
                                    <input class="form-control" id="passwordEdit" name="password" type="password" />
                                </div>
                                <div class="col-md-6">
                                    <label for="passwordConfirmEdit" class="form-label"><b>Confirmação de Senha:</b></label>
                                    <input class="form-control" id="passwordConfirmEdit" name="passwordConfirm" type="password" oninput="checkPasswordsEdit()" />
                                </div>
                            </div>
                            <div class="row g-3 mt-3">
                                <div class="col-md-6">
                                    <label for="statusEdit" class="form-label"><b>Status:</b></label>
                                    <select name="active" id="statusEdit" class="form-control">
                                        <option></option>
                                        <option value="true">Ativo</option>
                                        <option value="false">Inativo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Mensagem de erro -->
                        <div id="passwordMessageEdit"></div>
                        <input hidden type="text" name="userId" id="userIdEdit" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary" id="saveButtonEdit">Salvar Alterações</button>
                    </div>
                }
            </div>
        </div>
    </div>

    @* End Modal Edit User *@

</body>
</html>

<script>
    function openModal(id) {
        $.ajax({
            url: '/User/GetDetails', // Rota para o método do controlador que retornará os dados
            type: 'GET',
            data: { id: id },
            success: function (data) {
                $('#userIdEdit').val(data.userId);
                $('#nameEdit').val(data.name);
                $('#usernameEdit').val(data.username);
                if(data.active == true){
                    $('#statusEdit').val("true");
                }
                else{
                    $('#statusEdit').val("false");
                }
                $('#modal_user_edit').modal('show');
            },
            error: function () {
                alert("Erro ao buscar os dados.");
            }
        });
    }
</script>

<script>
    function checkPasswords() {
        var password1 = document.getElementById("password").value;
        var password2 = document.getElementById("passwordConfirm").value;
        var messageDiv = document.getElementById("passwordMessage");

        if (password1 !== password2) {
            messageDiv.textContent = "Senhas divergentes!";
            messageDiv.style.color = "red";
        } else {
            messageDiv.textContent = "Senhas coincidem!";
            messageDiv.style.color = "green";
        }
    }
</script>

<script>
    function checkPasswordsEdit() {
        var password1 = document.getElementById("passwordEdit").value;
        var password2 = document.getElementById("passwordConfirmEdit").value;
        var messageDiv = document.getElementById("passwordMessageEdit");

        if (password1 !== password2) {
            messageDiv.textContent = "Senhas divergentes!";
            messageDiv.style.color = "red";
        } else {
            messageDiv.textContent = "Senhas coincidem!";
            messageDiv.style.color = "green";
        }
    }
</script>